asgiref==3.4.1
autopep8==1.6.0
boto3==1.21.39
botocore==1.24.39
certifi==2021.10.8
cffi==1.15.0
cryptography==36.0.1
cycler==0.11.0
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.1
django-environ==0.8.1
django-rest-knox==4.1.0
django-storages==1.12.3
djangorestframework==3.13.1
filelock==3.4.2
fonttools==4.31.0
gunicorn==20.1.0
jmespath==1.0.0
kiwisolver==1.4.0
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
Pillow==9.0.0
pipenv==2022.1.8
platformdirs==2.4.1
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pycparser==2.21
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2021.3
s3transfer==0.5.2
scipy==1.8.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tzdata==2021.5
urllib3==1.26.9
virtualenv==20.13.0
virtualenv-clone==0.5.7
whitenoise==5.3.0