@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  color: #d9dae6;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
  line-height: 2rem;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
.navbar-container {
  background: #404156;
  border-bottom: 0px solid grey;
}
.navbar {
  max-width: 1500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  margin: 0 auto;
}
.container {
  background-color: #2d2c39;
  display: flex;
  flex: 1;
}
.home-container {
  display: grid;
  justify-content: space-between !important;
  max-width: 1500px;
  grid-template-columns: 1fr 10fr;
  gap: 3rem;
  margin: 0 auto;
}
.type-list {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.types {
  display: flex;
  flex-direction: column;
}

.pet-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-pets {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}
.card-pets h1 {
  font-size: 1.8rem;
}
.card-pets h2 {
  font-size: 1.5rem;
}
.card-pets img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.pet-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pet-page img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
