{% extends 'main.html' %} {% block content %}
<style>
  .Home-Container{
    grid
  }
</style>
<div class="container">
  <div class="home-container">
    <div class="type-list">
      <h3>Browse Pets</h3>
      <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search Pets" />
      </form>
      <div class="types">
        <a href="{% url 'home' %}?q=">All</a>
        {% for type in types %}
        <a href="{% url 'home' %}?q={{type.name}}">{{type.name}}</a>
        {% endfor %}
      </div>
      <a href="{% url 'create-pet' %}"> Upload Pet </a>
    </div>
    <div>
      <h5>{{pet_count}} Pets Available</h5>
      <div class="pet-list">
        {% for pet in pets %}
        <div class="card-pets">
          <img src="{{pet.image.url}}" />
          {% if request.user == pet.poster %}
          <div>
            <a href="{% url 'update-pet' pet.id %}"> Update Pet </a>
            <a href="{% url 'delete-pet' pet.id %}"> Delete Pet </a>
          </div>
          {% endif %}
          <h1>Name: <a href="{% url 'pet' pet.id %}">{{pet.name}}</a></h1>
          <h2>Type: {{pet.type}}</h2>
          <h2>Breed: {{pet.breed}}</h2>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="container"></div>
    {% endblock content %}
  </div>
</div>
